.activeTab {
  color: white;
  background-color: #0d6ebf;

  cursor: pointer;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  transition: all 0.3s ease-in-out;
}

.link,
.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
  color: inherit;
}
.icon,
.icon:hover,
.icon:focus,
.icon:active {
  text-decoration: none;
  color: inherit;
}

.tab:hover {
  color: white;
  background-color: #0d6efd;

  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}
